body {
  font-size: 14px;
  font-weight: 400;
  color: $primary-text-color;
  font-family: $font;
  letter-spacing: 00.03em;
  background-color: $primary-white-color;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}
