.features {
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.features__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.features__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__item {
    margin-bottom: 0;
    flex-basis: calc((100% - 1 * 30px) / 2);
    margin-bottom: 30px;
  }
  .features__item:nth-child(2n-1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    margin-bottom: 0;
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
  .features__item:nth-child(2n-1) {
    margin-right: 0;
  }
  .features__item:last-child {
    margin-right: 0;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $title-text-color;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
  color: $title-text-color;
}

.features__visually-hidden {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: $title-text-color;
  align-items: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.features__icon-block {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  background-color: $secondary-bg-color;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}
